<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <img class ="login-logo" src="img/logo.png" alt="logo">
    <p class="lead">Login or SignUp to view events going around!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
<hr>
<h1 class="headings">Features</h1>
<section class="features" id="features">

  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Easy to use.</h3>
        <p>Easy to create or register for events.</p>
      </div>

      <div class="feature-box col-lg-4">
        <img class="icon" src = "img/calendar.svg" alt="cal"/>
        <h3 class="feature-title">Create Events</h3>
        <p>Easy to create your events</p>
      </div>

      <div class="feature-box col-lg-4">
        <img class="icon" src="img/ad.svg" alt="ad"></img>
        <h3 class="feature-title">Advertise</h3>
        <p>One stop to advertise all your events.</p>
      </div>
    </div>


  </div>
</section>

<%- include('partials/footer') %>
